.App {
  text-align: center;
}

.header {
  padding: 75px 20px 75px;
  text-align: center;
  background-color: #c71b2f;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 150px;
  margin: 0;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
}

a {
  color: black;
}

.questionnaire {
  background-color: #dce0e6;
}

iframe {
  margin: 75px 0 0;
  background-color: #dce0e6;
}

@media (max-width: 575px) {
  .header {
    padding: 50px 20px;
  }

  h1 {
    margin: 0 0 30px;
    font-size: 100px;
    line-height: 100px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  iframe {
    width: 90%;
  }
}
