.App {
  text-align: center;
}

.header {
  padding: 75px 20px 75px;
  text-align: center;
  background-color: #c71b2f;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 150px;
  margin: 0;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

.questionnaire {
  background-color: #dce0e6;
}

iframe {
  margin: 75px 0 0;
  background-color: #dce0e6;
}
