.App {
  text-align: center;
}

.header {
  padding: 75px 20px 75px;
  text-align: center;
  background-color: #000000;
}

@font-face {
  font-family: "MetalLord";
  src: local("MetalLord"), url(./fonts/MetalLord.otf) format("opentype");
}

@font-face {
  font-family: "AdvertisingScriptBold";
  src: local("AdvertisingScriptBold"),
    url(./fonts/AdvertisingScriptBold.ttf) format("truetype");
}

img {
  height: 500px;
}

h2 {
  margin-top: 0;
  color: #be1e2d;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

h3 {
  margin-top: 0;
  color: #be1e2d;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
}

a {
  color: #be1e2d;
}

.questionnaire {
  background-color: #565656;
}

iframe {
  margin: 75px 0;
  padding: 20px 0 0;
  background-color: #aaaaaa;
  box-shadow: 0 0 10px 10px #565656 inset;
  max-height: 1050px;
}

@media (max-width: 575px) {
  .header {
    padding: 50px 20px;
  }

  img {
    height: 300px;
  }

  h2 {
    font-size: 25px;
    line-height: 30px;
  }

  iframe {
    width: 80%;
    max-height: fit-content;
    box-shadow: 0 0 9px 10px #565656 inset;
    padding: 10px 8px 0;
    margin: 70px 0 60px;
  }
}
